<div class="spotlight">
  <div class="chef-div food-item">
    <img src="../assets/images/burger.jpg" alt="Ficus Burger">
    <h1>Ficus Burger</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
  </div>
  <div class="chef-div food-item">
    <img src="../assets/images/salad.jpg" alt="Harvest Sald">
    <h1>Harvest Salad</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
  </div>
  <div class="chef-div food-item">
    <img src="../assets/images/baked-ziti.jpg" alt="Spinach Torte">
    <h1>Spinach Torte</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
  </div>
  <div class="chef-div food-item">
    <img src="../assets/images/fish-soup-1-of-1.jpg" alt="Fish Cioppino">
    <h1>Fish Cioppino</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
  </div>
</div>
<div class="menu-display">
  <img src="../assets/images/menu.jpg" alt="menu">
</div>
<div class="menu-link">
  <p><a href="http://www.thecheesecakefactory.com/media/menus/TCF_TakeOut_LibertyCenter_0816.pdf" target="_blank">See Full Menu</a></p>
</div>
