<div class="spotlight">
  <div class="chef-div food-item">
    <img src="../assets/images/flamingDP.jpg" alt="Shots on Fire">
    <h1>Shots on Fire</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
  </div>
  <div class="chef-div food-item">
    <img src="../assets/images/gobletoffire.jpg" alt="Goblet of Fire">
    <h1>Goblet of Fire</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
  </div>
  <div class="chef-div food-item">
    <img src="../assets/images/lemonfire.jpg" alt="Flaming Lemon">
    <h1>Flaming Lemon</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
  </div>
  <div class="chef-div food-item">
    <img src="../assets/images/smokeydrink.jpg" alt="Smoke Bomb">
    <h1>Smoke Bomb</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
  </div>
</div>
<img id="flaming-bartender" src="../assets/images/flamingdrink.jpg" alt="bartender">
