<div class="top-grid">
  <div class="logo">
    <div class="navbar">
      <img src="../assets/icons/drop-burger.png" alt="menu button image">
      <h3>Le 'Ficus</h3>
      <img src="../assets/icons/ficus-logo.png" alt="ficus tree">
    </div>
  </div>
  <div class="page-down">
    <h1>v</h1>
  </div>
  <div class="top-box">
    <img src="../assets/images/reflectionmood.jpg" alt="person eating">
  </div>
</div>


<div class="main-grid">


  <div class="chef-div">
    <img src="../assets/images/chefheadshot.jpg" alt="ficus chef">
    <h1>Chef Charles</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
    <h5>Click to learn more...</h5>
  </div>

  <div class="buttons-grid">
    <div class="position-relative">
      <img src="../assets/images/flamingDP.jpg" alt="drink highlight image">
      <p class="picture-tag">Cocktails</p>
    </div>
    <div class="position-relative">
      <img src="../assets/images/lowkeyfood.jpg" alt="food highlight image">
      <p class="picture-tag">Fare</p>
    </div>
    <div class="position-relative">
      <img src="../assets/images/compass.jpeg" alt="image of a map and compass">
      <p class="picture-tag">Find Us</p>
    </div>
    <div class="position-relative">
      <img class="position-relative" src="../assets/images/bookings.jpeg" alt="Quill and ink">
      <p class="picture-tag">Bookings</p>
    </div>
  </div>



  <div class="awards">
    <img src="../assets/images/rest-award.gif" alt="award image">
    <img src="../assets/images/Spirited-Awards.png" alt="award image">
    <img src="../assets/images/award2017.jpg" alt="award image">
  </div>

  <div class="footer">
    <div class="social-icons">
      <img src="../assets/icons/yelp.png" alt="yelp">
      <img src="../assets/icons/facebook.png" alt="facebook">
      <img src="../assets/icons/instagram.png" alt="instagram">
      <img src="../assets/icons/twitter.png" alt="twitter">
      <img src="../assets/icons/youtube.png" alt="youtube">
    </div>
    <p>535-959-9955</p>
    <p>400 sw 6th avenue | portland, oregon</p>
  </div>
</div>
