<div class="top-grid">
  <div class="logo">
    <div class="navbar">
      <img src="../assets/icons/drop-burger.png" alt="menu button image">
      <h3><a routerLink="">Le 'Ficus</a></h3>
      <img src="../assets/icons/ficus-logo.png" alt="ficus tree">
    </div>
  </div>
  <div class="page-down">
    <ul>
      <li><a routerLink="menu">Menu</a></li>
      <li><a routerLink="cocktails">Cocktails</a></li>
      <li><a routerLink="profiles">Chef Profiles</a></li>
      <li><a routerLink="updates">News Updates</a></li>
      <li><a routerLink="promotions">Promotions</a></li>
      <li><a routerLink="contact">Find Us</a></li>
    </ul>
    <h1>v</h1>
  </div>
  <div class="top-box">
    <img src="../assets/images/reflectionmood.jpg" alt="person eating">
  </div>
</div>

<div class="router">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="social-icons">
    <img src="../assets/icons/yelp.png" alt="yelp">
    <img src="../assets/icons/facebook.png" alt="facebook">
    <img src="../assets/icons/instagram.png" alt="instagram">
    <img src="../assets/icons/twitter.png" alt="twitter">
    <img src="../assets/icons/youtube.png" alt="youtube">
  </div>
  <p>535-959-9955</p>
  <p>400 sw 6th avenue | portland, oregon</p>
</div>
