<div class="spotlight">
  <div class="chef-div food-item">
    <img src="../assets/images/chefheadshot.jpg" alt="ficus chef">
    <h1>Chef Charles</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
  </div>
  <div class="chef-div food-item">
    <img src="../assets/images/bartender.jpg" alt="ficus chef">
    <h1>Miss Ficus</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
  </div>
  <div class="chef-div food-item">
    <img src="../assets/images/chef-james.jpg" alt="ficus chef">
    <h1>Sous Chef James</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
  </div>
</div>

<img id="staff-dinner" src="../assets/images/staff-dinner.jpg" alt="staff dinner">
