<div class="main-grid">
  <div class="spotlight">
    <div class="chef-div">
      <img src="../assets/images/chefheadshot.jpg" alt="ficus chef">
      <h1>Chef Charles</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
      <h5>Click to learn more...</h5>
    </div>
    <div class="owner-div">
      <img src="../assets/images/bartender.jpg" alt="ficus chef">
      <h1>Miss Ficus</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
      <h5>Click to learn more...</h5>
    </div>
  </div>
  <div class="buttons-grid">
    <div class="position-relative">
      <img src="../assets/images/flamingDP.jpg" alt="drink highlight image">
      <p class="picture-tag">Cocktails</p>
    </div>
    <div class="position-relative">
      <img src="../assets/images/lowkeyfood.jpg" alt="food highlight image">
      <p class="picture-tag">Fare</p>
    </div>
    <div class="position-relative">
      <img src="../assets/images/compass.jpeg" alt="image of a map and compass">
      <p class="picture-tag">Find Us</p>
    </div>
    <div class="position-relative">
      <img class="position-relative" src="../assets/images/bookings.jpeg" alt="Quill and ink">
      <p class="picture-tag">Bookings</p>
    </div>
  </div>
  <div class="awards">
    <img src="../assets/images/rest-award.gif" alt="award image">
    <img src="../assets/images/Spirited-Awards.png" alt="award image">
    <img src="../assets/images/award2017.jpg" alt="award image">
  </div>
</div>
